<div
  class="absolute top-10 xs:top-4 left-0 flex items-center"
>
  <button
    class="xs:hidden relative hover:button-animation ml-6 z-10"
    @click="toggleMobileModal"
  >
    {% render 'menu-icon' %}
  </button>
  <transition name="mobile-modal">
    {% render 'mobile-modal' %}
  </transition>
  <button class="relative hover:button-animation ml-6 z-10" @click="toggleSearchModal">
    {% render 'search-icon' %}
  </button>
</div>
<div class="absolute top-10 xs:top-4 right-0 flex items-center">
  {% if shop.customer_accounts_enabled %}
    <button
      class="relative hover:button-animation mr-6 z-10"
      @click="toggleAccountModal"
    >
      {% render 'user-icon' %}
    </button>
    <transition name="account-modal">
      {% render 'account-modal' %}
    </transition>
  {% endif %}
  <button class="relative hover:button-animation mr-6 z-10" @click="toggleCartModal">
    {% render 'cart-icon' %}
  </button>
  <transition name="cart-modal">
    {% render 'cart-modal' %}
  </transition>
</div>
