<section
  class="
    opacity-0
    absolute
    top-8
    right-8
    w-64
    flex flex-col
    px-4
    py-2
    border border-gray-300
    bg-white
    z-20
    shadow
  "
  :class="{ 'opacity-100': isCartVisible }"
  style="height: 26rem"
  v-show="isCartVisible"
>
	<div
		v-if="cartData && cartCount > 0"
		class="px-2 pt-2 overflow-scroll overflow-x-hidden overflow-y-auto scrollbar"
		style="max-height: 75%;"
	>
		<ul>
			<li
				v-for="item in cartData.items"
				:key="item.title"
				class="flex justify-between items-center h-24 mb-4 last:mb-0"
			>
				<a :href="item.url" v-if="item.image">
					<img class="h-24" :src="item.image" :alt="item.title" />
				</a>
				<div class="w-1/2 h-full flex flex-col justify-between">
					<div>
						<h3 class="text-xs font-semibold text-gray-700">
								<a :href="item.url" class="">@{ item.product_title }</a>
						</h3>
						<p class="text-xs font-light text-gray-700">@{ item.variant_title }</p>
						<p class="text-xs font-semibold text-right text-gray-700">
								@{ toPrice(item.price) }
						</p>
					</div>
					<span
						class="
							flex
							items-center
							justify-center
							h-6
							border border-gray-500
							rounded
							px-2
							py-1
							mt-2
							relative
						"
					>
						{% render 'cart-quantity' %}
					</span>
				</div>
			</li>
		</ul>
	</div>
	
	<div class="absolute bottom-5" style="width: 87.5%" v-if="cartData && cartCount > 0">
		<div
			class="
			flex
			justify-between
			items-center
			text-sm
			pb-3
			pt-2
			mt-1
			border-t border-gray-500
			"
		>
			<span class="font-medium text-gray-700">Subtotal: </span>
			<span class="font-semibold text-gray-500">@{ toPrice(cartData.total_price) }</span>
		</div>
		<a
			href="/checkout"
			class="
			block
			text-center
			cursor-pointer
			w-full
			px-4
			py-2
			text-white
			bg-gray-700
			border border-gray-700
			hover:bg-white hover:text-gray-700
			transition-colors
		"
			:class="{ 'pointer-events-none': isCartUpdating }"
		>
			<transition mode="out-in">
				<div v-if="isCartUpdating" class="flex justify-center items-center h-6">
					{% render 'spinner-small' %}
				</div>
				<span v-else>Checkout</span>
			</transition>
		</a>
	</div>

	<h2 v-else class="text-2xl text-gray-300 text-center mt-20">empty</h3>
</section>

