<div
  class="
    opacity-0
    absolute
    top-8
    right-8
    min-w-max
    flex flex-col
    px-4
    py-2
    border border-gray-300
    bg-white
    rounded-sm
    shadow
    z-20
  "
  :class="{ 'opacity-100': isAccountVisible }"
  v-show="isAccountVisible"
>
  {% if customer %}
  <a
    href="{{ routes.account_url }}"
    class="
      px-2
      py-1
      border border-transparent
      rounded-sm
      text-gray-500
      hover:text-gray-700 hover:bg-gray-300
      transition-all
      tracking-wide
    "
  >
    Account
  </a>
  {{ 'Logout' | customer_logout_link | replace: '<a', '<a class="px-2 py-1 border border-transparent rounded-sm text-gray-500 hover:text-gray-700 hover:bg-gray-300 transition-all tracking-wide" @click="toggleAccountModal"'}}
  {% else %}
  {{ 'Login' | customer_login_link | replace: '<a', '<a class="px-2 py-1 border border-transparent rounded-sm text-gray-500 hover:text-gray-700 hover:bg-gray-300 transition-all tracking-wide" @click="toggleAccountModal"'}}
  {{ 'Register' | customer_register_link | replace: '<a', '<a class="px-2 py-1 border border-transparent rounded-sm text-gray-500 hover:text-gray-700 hover:bg-gray-300 transition-all tracking-wide" @click="toggleAccountModal"'}}
  {% endif %}
</div>
