<div
  class="absolute top-10 xs:top-4 left-0 flex items-center"
>
  <button
    class="xs:hidden relative hover:button-animation ml-6 z-10"
    @click="toggleMobileModal"
  >
    {% render 'icon-menu' %}
  </button>
  <transition name="modal-mobile">
    {% render 'modal-mobile' %}
  </transition>
  <button class="relative hover:button-animation ml-6 z-10" @click="toggleSearchModal">
    {% render 'icon-search' %}
  </button>
</div>
<div class="absolute top-10 xs:top-4 right-0 flex items-center">
  {% if shop.customer_accounts_enabled %}
    <button
      class="relative hover:button-animation mr-6 z-10"
      @click="toggleAccountModal"
    >
      {% render 'icon-user' %}
    </button>
    <transition name="modal-account">
      {% render 'modal-account' %}
    </transition>
  {% endif %}
  <button class="relative hover:button-animation mr-6 z-10" @click="toggleCartModal">
    {% render 'icon-cart' %}
  </button>
  <transition name="modal-cart">
    {% render 'modal-cart' %}
  </transition>
</div>
