<header class="bg-white xs:fixed w-full top-0 left-0 z-10" id="header">
  <div class="relative border-b-2 border-gray-300 xs:border-b-0">
    <nav class="flex w-full">
      {% render 'nav-feature' %}
    </nav>
    <a href="{{ shop.secure_url }}" class="mt-2 xs:mt-4 block mx-auto text-lg xs:text-xl font-bold text-gray-500" style="width: max-content">
      <span class="flex flex-col items-center">
        {% if section.settings.show_logo_image %}
          {% if section.settings.logo_image %}
            <img 
              src="{{ section.settings.logo_image | img_url: 'master' }}" 
              alt="{{ shop.name }}" 
              class="
                max-h-24 
                {% if section.settings.show_logo_text and section.settings.reverse_logo == blank %}
                  mb-2 
                {% endif %} 
                {% if section.settings.show_logo_text and section.settings.reverse_logo %}
                  order-last
                  mt-2
                {% endif %}
              "
            />
          {% else %}
            <figure 
              class="max-h-24
                {% if section.settings.show_logo_text and section.settings.reverse_logo == blank %}
                mb-2 
                {% endif %} 
                {% if section.settings.show_logo_text and section.settings.reverse_logo %}
                  order-last
                  mt-2
                {% endif %}
                "
              >
              {% render 'logo' %}
            </figure>
          {% endif %}
        {% endif %}
        {% if section.settings.show_logo_text %}
          {{ section.settings.logo_text }}
        {% endif %}
      </span>
    </a>
    <transition name="banner" mode="out-in" @after-enter="focusSearch">
      <nav 
        class="mt-2 sm:mt-4 px-6 w-0 xs:w-full
        {% if section.settings.show_logo_image or section.settings.show_logo_text %}
        sm:w-5/6
        border-t
        {% endif %} 
        invisible xs:visible flex justify-center mx-auto border-b border-gray-300 shadow whitespace-nowrap"
        v-if="!isSearchVisible"
      >
        {% render 'nav-site' %}
      </nav>
      <nav
        class="hide-element mt-2 sm:mt-4 px-6 w-5/6 xs:flex justify-center mx-auto relative"
        :class="{ 'show-element': isSearchVisible }"
        id="search-modal"
        v-else
      >
        <input 
          type="text" 
          style="height: 38px;" 
          class="w-full border border-gray-300 px-4 shadow text-gray-500 relative z-10" 
          placeholder="type your search here..." 
          @input="onSearch" 
          v-model="search">
      </nav>
    </transition>
    <div 
      class="hide-backdrop" 
      :class="{ 'show-backdrop': isModalOpen }"
      v-show="isModalOpen" 
      @click="closeAllModals">
    </div>
  </div>
</header>

<script>
  const headerComponent = (({ search }) => Vue.createApp({
    delimiters: ["@{", "}"],
    data() {
      return {
        search: '',
      }
    },
    created() {
      this.search = search.input;
    },
    computed: {
      isAccountVisible() {
        return store.vue.state.account.visible;
      },
      isMobileVisible() {
        return store.vue.state.mobile.visible;
      },
      isSearchVisible() {
        return store.vue.state.search.visible;
      },
      isCartVisible() {
        return store.vue.state.cart.visible;
      },
      isModalOpen() {
        if (this.isSearchVisible || this.isMobileVisible || 
            this.isAccountVisible || this.isCartVisible) {
          return true;
        } else {
          return false;
        }
      },
      cartData() {
        return store.vue.state.cart.data;
      },
      cartCount() {
        return this.cartData.item_count;
      },
      cartLoading() {
        return store.vue.state.cart.loading;
      }
    },  
    methods: {
      toPrice(price) {
        return "$" + (price / 100).toFixed(2);
      },
      toggleAccountModal() {
        store.vue.toggleAccountModal();
      },
      toggleMobileModal() {
        store.vue.toggleMobileModal();
      },
      toggleSearchModal() {
        store.vue.toggleSearchModal();
      },
      toggleCartModal() {
        store.vue.toggleCartModal();
      },
      toggleNestedLinks(event) {
        this.$refs[event.target.id].classList.toggle('hidden');
        this.$refs[event.target.id].classList.toggle('nested-link-animation-in');
        this.$refs[event.target.id + "-caret-down"].classList.toggle('hidden');
        this.$refs[event.target.id + "-caret-up"].classList.toggle('hidden');
        this.closeAllNested(event.target.id);
      },
      incItem(item) {
        store.vue.cartLoading(true);
        store.vue.incCartItem(item)
      },
      decItem(item) {
        store.vue.cartLoading(true);
        store.vue.decCartItem(item)
      },
      focusSearch() {
        const searchModal = document.getElementById('search-modal');
        if (searchModal) {
          const search = searchModal.firstChild;
          search.focus();
        }
      },
      onSearch() {
        store.vue.state.search.input = this.search;
      },
      closeAllNested(currentNest = null) {
        const nested = Object.keys(this.$refs);
        nested.forEach(nest => {
          //nested links are generated dynamically by liquid
          if (!nest.includes('caret') && nest !== currentNest) {
            this.$refs[nest].classList.add('hidden');
            this.$refs[nest].classList.remove('nested-link-animation-in');
            this.$refs[nest + "-caret-down"].classList.add('hidden');
            this.$refs[nest + "-caret-up"].classList.remove('hidden');
          }
        })
      },
      closeAllModals() {
        store.vue.closeAll();
        this.closeAllNested();
      }
    },
  }).mount('#header'));

  store.vue.components.push(headerComponent);
</script>

<style scoped> 
  .scrollbar::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 5px;
    background-color: #F5F5F5;
  }

  .scrollbar::-webkit-scrollbar {
    width: 6px;
    background-color: #F5F5F5;
  }
  
  .scrollbar::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: darkgrey;
  }

  .hide-element {
    position: absolute;
    opacity: 0;
  }

  .show-element {
    position: static;
    opacity: 1;
  }

  .hide-backdrop {
    position: absolute;
    height: 0;
    width: 0;
    opacity: 0;
  }

  .show-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 1;
  }
  
  .quantity-btn-left::after {
    position: absolute;
    top: 0;
    left: 0.25rem;
    transform: scale(0);
    opacity: 0;
  }

  .quantity-btn-right::after {
    position: absolute;
    top: 0;
    right: 0.25rem;
    transform: scale(0);
    opacity: 0;
  }

  .quantity-btn-left:hover::after,
  .quantity-btn-right:hover::after {
    content: "";
    height: 20px;
    width: 20px;
    border-radius: 50%;
    display: inline-block;
    animation: quantity-icon-hover .2s forwards;
  }

  @keyframes quantity-icon-hover {
    100% {
      background-color: rgba(55, 65, 81, .1);
      box-shadow: inset 0 0 8px rgba(55, 65, 81, .25);
      transform: scale(1);
      opacity: 1;
    }
  }

  .modal-account-enter-active {
    animation: animate-modal-right .2s forwards;
  }

  .modal-account-leave-active {
    animation: animate-modal-right .2s reverse;
  }

  .modal-cart-enter-active {
    animation: animate-modal-right .2s forwards;
  }

  .modal-cart-leave-active {
    animation: animate-modal-right .2s reverse;
  }

  .modal-mobile-enter-active {
    animation: animate-modal-left .2s forwards;
  }

  .modal-mobile-leave-active {
    animation: animate-modal-left .2s reverse;
  }

  .banner-enter-active {
    animation: animate-modal-top .2s forwards;
  }

  .banner-leave-active {
    animation: animate-modal-top .2s reverse;
  }

  .nested-link-animation-in {
    animation: animate-modal-left .2s forwards;
  }

  @keyframes animate-modal-right {
    from {
      right: 0;
      opacity: 0;
    }
    to {
      right: 2rem;
      opacity: 1;
    }
  }

  @keyframes animate-modal-left {
    from {
      left: 0;
      opacity: 0;
    }
    to {
      left: 2rem;
      opacity: 1;
    }
  }

  @keyframes animate-modal-top {
    from {
      transform: translateY(-2rem);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
</style>

{% schema %}
{
    "name": "Header",
    "settings": [
        {
            "type": "text",
            "id": "mobile_menu_heading",
            "default": "Menu",
            "label": "Mobile Menu Heading"
        },
        {
            "type": "link_list",
            "id": "menu",
            "default": "main-menu",
            "label": "Main Navigation Menu"
        },
        {
          "type": "image_picker",
          "id": "logo_image",
          "label": "Logo Image"
        },
        {
          "type": "checkbox",
          "id": "show_logo_image",
          "default": true,
          "label": "Show Logo Image"
        },
        {
          "type": "text",
          "id": "logo_text",
          "label": "Logo Text"        
        },
        {
          "type": "checkbox",
          "id": "show_logo_text",
          "default": true,
          "label": "Show Logo Text"
        },
        {
          "type": "checkbox",
          "id": "reverse_logo",
          "label": "Reverse Logo Image and Text",
          "default": false
      }
    ]
}
{% endschema %}
