<section
  class="px-6 py-0 pt-2 xs:py-4 sm:py-8 sm:px-12 flex flex-col items-center justify-center"
>
<h1 class="text-gray-700 text-2xl lg:text-3xl xl:text-4xl mb-4 sm:mb-8">Cart</h1>
  {% if cart.item_count > 0 %} 
	{% render 'cart-table' %}
  {% else %}
    <div class="flex flex-col justify-center items-center">
			<h4 class="font-light text-xl mt-4 mb-12">Your cart is empty</h4>
			<a 
				href="{{ routes.all_products_collection_url }}"
				class="px-4 py-2 text-white bg-gray-500 border border-gray-500 shadow hover:text-gray-500 hover:bg-white transition-colors"
			>
				Continue shopping
			</a>
    </div>
  {% endif %}
</section>

