<section
  class="
    px-6
    pt-2
    xs:pt-4
    sm:py-8 sm:px-12
    flex flex-col
    items-center
    justify-center
  "
>
  <h1 class="text-gray-700 text-2xl lg:text-3xl xl:text-4xl mb-4 sm:mb-8">
    {{ collection.title }}
  </h1>
  <div
    class="
      w-full
      sm:w-5/6
      md:w-3/4
      xl:w-2/3
      mx-auto
      grid grid-cols-1
      sm:grid-cols-2
      lg:grid-cols-3
      row-auto
      gap-8
      mb-8
    "
  >
    <!-- prettier-ignore -->
    {% paginate collection.products by section.settings.pagination %}
        {% for product in collection.products %}
            {% render 'product-card', product: product, show_vendor: section.settings.show_vendor %} 
        {% else %}
    <p>There are no products inside of this collection</p>
    {% endfor %}
    <span class="col-span-1 sm:col-span-2 lg:col-span-3">
      {% render 'pagination', pagination: paginate %}
    </span>
    {% endpaginate %}
  </div>
</section>

{% schema %}
{
    "name": "Template Collection",
    "settings": [
        {
            "type": "number",
            "id": "pagination",
            "default": 6,
            "label": "Number of products per page"
        },
        {
          "type": "checkbox",
          "id": "show_vendor",
          "default": true,
          "label": "Show vendor on product card"
      }
    ]
}
{% endschema %}